 <!--===================
        Header
        =======================-->
        <header class="header">
			<div>{{ title }}</div>
			
          <nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 ">
			<div class="fixed-bottom"></div>
           
			<!--ket do te shtojme nje button ne te majte te nav bar qe do sherbeje si sidebar-->
			<button ng-click="switchTab()" class="navbar-toggler sidebar-toggler-rught" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		 <a href="#" class="button-right"><span class="fa fa-fw fa-bars "></span></a> Click</button> </div>

     <!--bej collapse te dy tabeve te userit-->
     
		 <div class="collapse navbar-collapse flex-row-reverse" id="sidebarNavDropdown">
      <div clas="sidebar-top"></div>
			<ul class="list-sidebar bg-defoult full_height">>
			  <li class="nav-item dropdown messages-menu">
			
				<div class="dropdown-menu" aria-labelledby="sidebarDropdownMenuLink">
				 
			  </div>
			</li>
		  </ul>
		</div>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
              
              <ul class="navbar-nav">
                <li class="nav-item dropdown messages-menu">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></buttton>
                    <i class="fa fa-bell-o"></i>

                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    </li>
          
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="main">
        <aside>
          
          <div class="sidebar left ">
            <div class="container">
            <div class="user-panel">
              <div class="pull-left image">
                <img src="http://via.placeholder.com/160x160" class="rounded-circle" alt="User Image">
              </div>

			  <!--bejme vendosjne  ne te majte te tabeles se infove-->
              <div class="pull-left info">
              </div>
            </div>
            </div>
            <ul class="list-sidebar bg-defoult">
              <li> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active" > <i class="fa fa-th-large"></i> <span class="nav-label"> User </span> <span class="fa fa-chevron-left pull-right"></span> </a>
              <ul class="sub-menu collapse" id="dashboard">
                <li class="active"><a href="#"> Registrated user </a></li>
              </ul>
            </li>
			<!--menyra per te vendosur disa nenelemente ne nje section, duke i bere ato te klikueshem -->
        
      <li> <a href="#" data-toggle="collapse" data-target="#dashboard1" class="collapsed active" > <i class="fa fa-th-large"></i> <span class="nav-label"> New User </span> <span class="fa fa-chevron-left pull-right"></span> </a>
        <ul class="sub-menu collapse" id="dashboard1">
          <li class="active"><a href="#"> Registration format</a></li>
        </ul>
      </li>
              <!-- <div class="formstyle">

                <form>
                    <div class="mb-3">
                        <label for="str1" class="form-label"> Name </label>
                        <input type="string" class="form-control" id="str1" aria-describedby="stringHelp">
                        <div id="stringHelp" class="form-text">You have to add user name that user information can be fully completed</div>
                    </div>
                
                    <div class="mb-3">
                      <label for="str2" class="form-label"> Last Name </label>
                      <input type="string" class="form-control" id="str2" aria-describedby="stringHelp">
                      <div id="stringHelp" class="form-text">You have to add user last name that user information can be fully completed</div>
                  </div>
                
                    <div class="mb-3">
                        <label for="nr1" class="form-label"> Age </label>
                        <input type="number" class="form-control" id="nr1" aria-describedby="numberHelp">
                        <div id="numberHelp" class="form-text">You have to add user age that user information can be fully completed</div>
                    </div>
                
                    <button class="btn btn-primary" id="formBtn" onclick="printUserInfoFunction()">Submit User Information</button>
                
                    <div class="mb-3">
                        <label for="output"  type="button"  id="total_information" class="form-label"></label>
                    </div>
                   
                </form> -->
          </li>
          
		 </li>
        </ul>
      </li>
      </ul>
    </div>
    </aside>
    </div>
